body {
    background-color: #1f1f1f;
    color: aliceblue;
}
.form_container {
    background-color: chocolate;
    margin: 40px;
    padding: 15px;
    border-radius: 15px;
}
.txt_area{
    width: 650px;
    height: 200px;
    border-radius: 15px;
    padding: 15px;
    border-width: 5px;
    border-color: #1f1f1f;
    resize: none;

}
.sub_button {
    margin-left: 100px;
    height: 50px;
    position: center;
    border-radius: 10px;
    color: aliceblue;
    background-color: gray;
    border: #1f1f1f;
}
.sub_button:hover {
    color: black;
    cursor: pointer;
    background-color: azure;
}